@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

body {
  text-align: left;
  font-family: 'Jaldi', sans-serif;
  background-color: hsl(0, 1%, 25%);
  color: white;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: hsl(238, 74%, 42%);
}

.review-list {
  padding: 0rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-area: main;
  background-color: #797979;
}

.review-card {
  max-width: 10rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  list-style: none;
  background-color: hsl(0, 0%, 71%);
}

img {
  max-width: 100%;
}

.nav {
  display: inline;
}

.categories {
  margin: 3px;
  color: hsl(0, 0%, 71%);
  text-transform: uppercase;
  text-decoration: none;
}