@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

body {
  text-align: left;
  font-family: 'Jaldi', sans-serif;
  background-color: hsl(0, 0%, 14%);
  color: white;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  display: block;
}

.header {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  background-color: #1a1e9e;
}

.loading-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-header {
  font-size: 5rem;
}

.head {
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.head:hover {
  color: black;
}

.nav {
  display: inline;
}

.categories {
  margin: 3px;
  font-size: 20px;
  color: hsl(0, 0%, 71%);
  text-transform: uppercase;
  text-decoration: none;
}

.categories:hover {
  color: white;
  font-weight: bold;
}

.header-user-section {
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 1320px) {
  .header-user-section {
    position: relative;
  }
}

.signup-button {
  border: 2px solid rgb(108, 108, 108);
  border-radius: 4px;
  color: white;
  background-color: rgb(149, 10, 10);
  font-weight: bold;
  font-size: large;
  padding: 8px;
  margin-left: 8px;
  margin-right: 1rem;
}

.signup-button:hover {
  border: 2px solid white;
  background-color: rgb(203, 23, 23);
}

.logout-button {
  border: 2px solid rgb(108, 108, 108);
  border-radius: 4px;
  color: white;
  background-color: rgb(149, 10, 10);
  font-weight: bold;
  padding: 4px;
}

.logout-button:hover {
  border: 2px solid white;
  background-color: rgb(203, 23, 23);

}

.homepage {
  margin: 2rem;
  margin-top: 1rem;
}

.search-buttons {
  margin-bottom: 4px;
}

.search-button {
  border: 2px solid rgb(108, 108, 108);
  color: white;
  margin-right: 4px;
  font-weight: bold;
  border-radius: 4px;
  background-color: #1c265e;
  width: 100px;
  height: 40px;
}

.search-button:hover {
  border: 2px solid white;
  background-color: #1a1e9e;
}

.review-list {
  border-radius: 4px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1190px) {
  .review-list {
    display: inline-block;
    width: fit-content;
  }
  .homepage {
    text-align: center;
  }
}

.review-card {
  border: 2px solid rgb(108, 108, 108);
  border-radius: 4px;
  padding-left: 40px;
  margin-bottom: 5px;
  display: block;
  position: relative;
  background-color: #151515;
}

.review-card:hover {
  border-color: white;
}

.review-card-title {
  line-height: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin: 0 8px 8px;
  position: relative;
  color: white;
}

.review-card-img {
  width: 512px;
  height: 320px;
  max-height: 512px;
  position: relative;
  display: block;
}

.wrapper-votes-card {
  width: 40px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  left: 0;
  position: absolute;
  padding: 8px 4px 8px 0;
  top: 0;
}

.wrapper-review-card {
  display: block;
  position: relative;
  padding-top: 8px;
  text-decoration: none;
  background-color: #2e2e2e;
}

.wrapper-review-card:hover {
  background-color: #585858;
}

.single-review-page {
  text-align: center;
}

.single-review {
  border: 1px solid rgb(108, 108, 108);
  border-radius: 4px;
  padding-left: 40px;
  margin: 1rem;
  display: inline-block;
  position: relative;
  width: 500px;
  text-align: left;
  background-color: #151515;
}

.single-review-info {
  display: block;
  position: relative;
  padding-top: 2px;
  text-decoration: none;
  background-color: #2e2e2e;
}

.single-review-top {
  display: flex;
  flex-direction: column;
  margin-left: 8px;

}

.single-review-owner {
  margin: 0;
  font-size: 12px;
  color: hsl(0, 0%, 71%);
}

.single-review-img {
  max-width: 100%;
  width: 512px;
  height: 320px;
  max-height: 512px;
  position: relative;
  display: block;
}

.single-review-title {
  line-height: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 8px;
  position: relative;
  color: white;
}

.single-review-body {
  margin: 8px;
}

.wrapper-votes-review {
  width: 40px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  left: 0;
  position: absolute;
  padding: 8px 4px 8px 0;
  top: 0;
}

.wrapper-comment-info {
  display: block;
  position: relative;
  text-decoration: none;
  background-color: #484848;
  min-height: 75px;
}

.comment-list {
  border-radius: 4px;
  word-break: break-all;
  background-color:rgb(23, 23, 23);
  border: 1px solid rgb(108, 108, 108);
}

.comment-list-article {
  box-sizing: border-box;
  padding-right: 16px;
  margin-left: 10px;
  padding-bottom: 16px;
}

.comment-card {
  border: 1px solid rgb(108, 108, 108);
  border-bottom: 2px solid rgb(108, 108, 108);
  border-radius: 4px;
  padding-left: 30px;
  min-height: 75px;
  position: relative;
  background-color: #151515;
}

.comment-card-top {
  margin-bottom: 15px;
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.comment-card-author {
  margin: 0;
  align-self: baseline;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.comment-card-created-at {
  margin: 0;
  align-self: baseline;
  font-size: 10px;
  font-weight: 400;
  line-height: 30px;
  color: hsl(0, 0%, 71%);
}

.delete-button {
  position: absolute;
  margin: 4px;
  right: 0;
  top: 0;
}

.delete-button:hover, .delete-button:focus {
  border-radius: 4px;
  background-color: red;
  
}

.comment-card-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  word-break: break-all;
  padding-bottom: 1px;
  margin-bottom: -1px;
  margin-left: 6px;
  margin-top: -20px;
}

.comment-card-bottom {
  min-height: 18px;
  margin-bottom: 6px;
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.wrapper-bottom-review {
  flex: 1;
  max-width: 100%;
  min-width: 100vh;
  min-width: 0;
  padding-bottom: 1px;
  width: 100%;
  word-break: break-all;
}

.comment-form {
  position: relative;
  display: inline-flex;
}

.comment-area {
  border: 1px solid rgb(108, 108, 108);
  border-bottom: 2px solid rgb(108, 108, 108);
  border-radius: 4px;
  box-sizing: border-box;
  height: 100px;
  min-width: 475px;
  width: 100%;
  position: relative;
  margin-left: 10px;
  margin-bottom: 16px;
  padding:8px;
  background-color: #484848;
  color: white;
}

.comment-submit-button {
  position: absolute;
  right: 0;
  bottom: 15%;
  margin: 6px;
  font-size: large;
}

.error {
  border: 1px solid gray;
  text-align: center;
  margin: 1rem;
  border-radius: 4px;
  grid-area: main;
  background-color: #474747;
}

.loggedUser-img {
  border: 4px solid gray;
  margin-bottom: 4px;
  border-radius: 4px;
  width: 5rem;
  height: 5rem;
  align-self: center;
}

.loggedUser-img:hover {
  border: 4px solid black;
}

.loggedUser-info {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.user-card-img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.user-list {
  margin: 1rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user-info {
  border: 4px solid gray;
  border-radius: 1rem;
  background-color: #474747;
}

.user-info:hover {
  border: 4px solid #0008ff;
  background-color: #585858;
}

.user-card-name {
  color: aliceblue;
}