@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

body {
  text-align: left;
  font-family: 'Jaldi', sans-serif;
  background-color: hsl(0, 0%, 14%);
  color: white;
}

.header {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  background-color: hsl(238, 72%, 36%);
}

.head {
  text-decoration: none;
  color: white;
}

.head:hover h1 {
  color: black;
}

.review-list {
  border: 1px solid rgb(108, 108, 108);
  padding: 0rem;
  margin: 1rem;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-area: main;
  background-color: #313131;
}

.single-review {
  border: 1px solid rgb(108, 108, 108);
  border-radius: 4px;
  margin: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #313131;
}

.wrapper {
  margin: 1rem;
  width: 50%;
}

.review-card {
  border: 1px solid gray;
  width: 10rem;
  height: 8rem;
  margin: 2rem;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  background-color: hsl(0, 0%, 22%);
}

.title {
  color: white;
}

img {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  object-fit: fill;
}

.nav {
  display: inline;
}

.categories {
  margin: 3px;
  font-size: small;
  color: hsl(0, 0%, 71%);
  text-transform: uppercase;
  text-decoration: none;
}

.categories:hover {
  color: white;
}

.review-img {
  border-radius: 4px;
  width: 100%;
}

.review-title {
  text-align: center;
}

.error {
  border: 1px solid gray;
  text-align: center;
  margin: 1rem;
  border-radius: 4px;
  grid-area: main;
  background-color: #474747;
}
